body {
  padding: 0;
  max-width: 800px;
  text-align: center;
  font-family: "Helvetica";
  background-color: rgb(241, 227, 222);
  margin: 0 auto;
}

h1 {
  text-align: left;
  font-size: 45px;
  color: red;
}

nav {
  text-align: right;
}

nav a {
  font-size: 15px;
  text-transform: uppercase;
}

content {
  display: inline;
}

h2 {
  font-size: 15px;
  text-transform: uppercase;
}

h3 {
  font-size: 18px;
  font-weight: lighter;
}

p {
  font-size: 14px;
}

header {
  margin: 0 auto;
}

div {
  display: inline;
}

content div {
  padding: 20px;
  margin: 20px auto;
}

div > div {
  padding: 20px;
  border: solid;
  border-width: 2px;
}

div div p {
  color: purple;
}

img {
  max-width: 300px;
}

footer {
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  background-color: rgb(219, 205, 200);
  align: bottom;
}

footer li {
  display: inline;
  padding: 20px 20px 0 20px;
}

footer a {
  color: green;
}